@using Nop.Web.Framework;

@model List<Nop.Web.PPService.ErpUser>
<hr />
<br />
<hr /><hr />
@if (ViewBag.Infos != null)
{
    <table width="100%" style="border:1px solid">
        <tr><td colspan="4">Müşteri Bilgileri</td></tr>
        @foreach (var item in ViewBag.Infos)
        {
            <tr>
                <td>@item.ERP_CODE</td>
                <td>@item.UNVAN</td>
                <td>@item.VD</td>
                <td>@item.VN</td>
                <td>@item.EMAIL</td>
                <td>@item.TEL</td>
            </tr>
        }
    </table>

}
 else if (Model == null)
{
    <h3>İşlem Yok</h3>
}
else
{
    <ul>
        @if(Model==null || Model.Count() == 0)
        {
            <li>İşlem yapılmadı. Müşteri listesi güncel.</li>
        }
        else
        {
            foreach (var item in Model)
            {
                <li>
                    ( &nbsp;@item.CITY &nbsp; ) =>  &nbsp; @item.CODE &nbsp; - &nbsp;@item.NAME &nbsp; -  &nbsp; @item.EMAIL &nbsp; - &nbsp; @item.NOTE
                </li>
            }
        }
    </ul>

}